.gw-toast-container{
    width:100%;
    max-width:18rem;
    position:fixed;
    top:30px;
    right:1%;
    z-index:1055;
    user-select:none;
}
.gw-toast{
    width:100%;
    box-sizing: border-box;
    pointer-events:auto;
    padding: 1rem;
    border-radius: 5px;
}
.gw-toast-title{
    font-weight: bold;
    margin-bottom: 1px;
}
.gw-toast-close {
    padding: 0;
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 3px;
    right: 8px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
    opacity: .5;
}
.gw-toast-close:hover{
    opacity: .75;
}

.gw-toast[data-type]{
    position:relative;
    border:0;
    color:#f8f9fa;
    background:linear-gradient(to bottom right,#4A4A4A,#2B2B2B);
    box-shadow:0 2px 4px rgba(0,0,0,.5);
}
/* toast content */
.gw-toast[data-type] .gw-toast-content{
    display:flex;
    align-items:center;
}
/* toast svg icon */
.gw-toast[data-type] .gw-toast-icon svg{
    width:35px;
    height:35px;
    display:block;
}
.gw-toast[data-type] .gw-toast-body{
    width:100%;
    padding-left:1rem;
    text-align:justify;
}


/* GENERAL */
.gw-toast[data-type="info"]   {background:linear-gradient(to bottom right,#007bff,#1d93d2)}
.gw-toast[data-type="warning"]{background:linear-gradient(to bottom right,#FF9500,#FC0);color:#343a40!important}
.gw-toast[data-type="error"]  {background:linear-gradient(to bottom right,#FF2A68,#FF5E3A)}
.gw-toast[data-type="success"]{background:linear-gradient(to bottom right,#28a745,#84b42d)}
.gw-toast[data-type="other"]  {background:linear-gradient(to bottom right,#4A4A4A,#2B2B2B)}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-out-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
}
.animate-slideIn {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.animate-slideOut {
    -webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}